services:
   bot:
      build: .
      container_name: telegram-bot
      restart: always
      env_file:
         - .env
      networks:
         - game-network
networks:
   game-network:
      external: true
